<h1>Mailbox <%= @mailbox.name %></h1>

<table>
  <thead>
    <tr>
      <th>From</th>
      <th>Date</th>
      <th>Subject</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Arne</td>
      <td>17-01-2016</td>
      <td>Homework!</td>
    </tr>
  </tbody>
</table>
